.cursor-trail-root {
  position: relative;
  z-index: -10;
}

.cursor-trail-img {
  pointer-events: none;
  position: absolute;
  height: 9rem;
  width: 16rem;
  flex-shrink: 0;
  translate: -50% -50%;
  border-radius: 0.75rem;
  object-fit: cover;
  opacity: 0.8;
  transition-property: all;
  transition-timing-function: ease-out;
}

.scale-blur-out {
  transform: scale(0.8);
  filter: blur(8px);
  opacity: 0;
  transition: transform 0.5s ease-out, filter 1s ease-out, opacity 0.5s ease-out;
}
